body{
  display:flex;
  justify-content:center;
}

.healthBar{
  display: flex;
  justify-content: center;
  
}

.bigDiv{
  width:75%
}

.topDiv{
  background-color: pink;
}

.botDiv{
/*   center div for gamescreenhtml */
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.botMidDiv{
  width:50%;
  border:black solid 1px;
/*   border-radius:100%; */
  display:flex;
  justify-content:center;

}
.botMidInnerDiv{
 
  width:250px;
  height:250px;
/*    px is not responsive ----------------------- */
}
.botLeftDiv{
  width:23%;
}

.botRightDiv{
  width:23%;
  display:flex;
  flex-wrap:wrap;
  
}
/* --------------------------- */

.button{
  width:100%;
  margin:5%;
}

.paragraph{
  overflow-wrap: break-word;
}

div{
    border:black solid 1px;


}

.botMidDiv{
  border:none;
}

.button:hover{
  animation-namw:changeColor;
  animation-duration: 2s;

}

@keyframes changeColor {
  from{
    background:default;
  }
  to{
    background:pink;
  }
}