.topDiv {
  background-color: pink;
}

.midDiv{
  display:flex;
  justify-content:space-Between;
}

.midLeftDiv{
  Width:24%;
  display:flex;
  
}

.midRightDiv{
  Width:24%;
  display:flex;
}

.midMidDiv{
  Width:50%;
  height:20vh;
  text-align:center;

}

.botDiv{
  text-align:center;
}

/* ------------------------- */

.image{
  width:100%
  height:100%;
}

div{
  
  
}
h1{
  display: flex;
  justify-content: center;
  
}

h2{
  display: flex;
  justify-content: center;
}

.credits  {
  display: flex;
  justify-content: center;
}

.completeHealth {
  display: flex;
  justify-content: center;
}

.midLeftDiv {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: left;
}

.midMidDiv {
  width: 50%;
  height: 20vh;
  text-align: center;
}

.midRightDiv {
  height: 450px;
  width: 500px;
  display: flex;
  justify-content: right;
}

.midMidDiv {
  font-family: Cambria;
  font-size: 23px;
}

.instructions {
  font-family: Cambria;
  font-size: 26px;
  font-weight: bold;
}

.buttonStart{
  width:50%;
  font-size:50px;
}